@page
@model dsd03Razor2020Assessment.Pages.Casts.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Add a Cast Member</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Cast.FirstName" class="control-label">First Name</label>
                <input asp-for="Cast.FirstName" class="form-control" />
                <span asp-validation-for="Cast.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cast.LastName" class="control-label">Last Name</label>
                <input asp-for="Cast.LastName" class="form-control" />
                <span asp-validation-for="Cast.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cast.ScreenName" class="control-label">Screen Name</label>
                <input asp-for="Cast.ScreenName" class="form-control" />
                <span asp-validation-for="Cast.ScreenName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cast.MovieId" class="control-label">Movie Title</label>
                <select asp-for="Cast.MovieId" class ="form-control" asp-items="ViewBag.MovieId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
