@page


@{
    ViewData["Title"] = "Movie Database";
}

<h1>Movie Database</h1>


<h3>Welcome to the Movie database</h3>

<p>To enter a Movie click  <a asp-page="/Movies/index">Movies</a>  </p>

<p>To enter a Cast member click  <a asp-page="/Casts/index">Cast</a>  </p>